DATABASE_URL=postgresql://reishi:monex@localhost:5432/reishi
REDIS_URL=redis://localhost:6379
JWT_SECRET=
PORT=3000
FRONTEND_URL=http://localhost:3001
KAFKA_BROKER=localhost:9092
USE_KAFKA=true
NODE_ENV=development
SOLANA_RPC_URL=https://api.devnet.solana.com
SOLANA_MASTER_SECRET=
USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
USDT_MINT=Ejmc6tyoj6rJ3N6qWfD1WjV22V1P3moxGZ5Z85F94G1q
