DATABASE_URL=
REDIS_URL=
JWT_SECRET=
PORT=
FRONTEND_URL=
KAFKA_BROKER=
USE_KAFKA=true
NODE_ENV=development
USE_KAFKA=true
SOLANA_RPC_URL=https://api.devnet.solana.com
SOLANA_MASTER_SECRET=
USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
USDT_MINT=Ejmc6tyoj6rJ3N6qWfD1WjV22V1P3moxGZ5Z85F94G1q
NODE_ENV=development